body {
  font-family: sans-serif;
  text-align: center;
  margin-top: 30px;
}

#quiz {
  cursor: pointer;
  border: 2px solid #333;
  padding: 30px;
  display: inline-block;
  border-radius: 10px;
  margin-top: 20px;
}

#word {
  font-size: 2em;
  margin-bottom: 20px;
}

#meaning {
  font-size: 1.5em;
  color: #555;
}
